<html>
<head>
	<title>In-bounding Schedule</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="/static/assets/third-party/semantic.min.css" rel="stylesheet" type="text/css" />
	<link href="/static/assets/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="ui container">
		<div class="ui basic modal">
			<div class="ui green icon large header">
				<i class="check icon"></i>
				Added Schedule in Blizzard Account!
			</div>

			<div class="ui inverted divider"></div>

			<h3 class="ui center aligned inverted header">
				<div class="content">
					<h4 class="ui center aligned icon inverted header">
						<i class="icon mobile"></i>
						Download Schedule App!
					</h4>
					<div class="ui inverted segment">
						<a class="ui labeled icon orange button">
							<i class="icon google play"></i>
							DOWNLOAD ON GOOGLE PLAY
						</a>

						<a class="ui labeled icon orange button">
							<i class="icon apple"></i>
							DOWNLOAD ON APP STORE
						</a>
					</div>
				</div>
			</h3>
		</div>
	</div>

	<script src="http://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
	<script src="/static/assets/third-party/semantic.min.js"></script>
	<script src="/static/assets/third-party/jquery.serializejson.min.js"></script>
	<script src="/static/assets/js/insert-pc.js"></script>
</body>
</html>