<html>
<head>
	<title>In-bounding Schedule</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="http://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
	<script src="/static/assets/third-party/semantic.min.js"></script>

	<link href="/static/assets/third-party/semantic.min.css" rel="stylesheet" type="text/css" />
	<link href="/static/assets/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="ui container">
		<div class="ui basic center aligned segment container">
			<h1 class="ui blue header inverted">
				WEB (Login Base)
			</h1>
		</div>

		<div class="ui basic center aligned padded segment">
			<div class="example example-web">
				<a class="ui red button" type="button" href="/confirm?title=2019+SEASON+PREVIEW+LIVE+SHOW&startDate=12%2F26%2F2018+13%3A12&url=https%3A%2F%2Foverwatchleague.com%2Fen-us%2Fnews%2F22821480%2F2019-season-preview-live-show&location=&description=The+2019+Overwatch+League+season+doesn%E2%80%99t+kick+off+until+February+14%2C+but+that+doesn%E2%80%99t+mean+you+have+to+wait+to+get+the+latest+info+about+the+league%2C+players%2C+and+schedules.%0D%0A%0D%0AJoin+on+us+on+Wednesday%2C+December+5%2C+at+4+p.m.+PST+for+the+Overwatch+League+Watchpoint+Season+Preview+show%2C+where+we%E2%80%99ll+reveal+details+about+the+2019+season%2C+including+a+first+look+at+the+complete+Week+1+schedule+and+breakdowns+of+all+20+team+rosters.">
					<i class="icon calendar alternate"></i>
					Add Schedule!
				</a>
			</div>

			<div class="ui section inverted horizontal divider">
				LOGIN
			</div>

			<div class="example example-web-login"></div>
		</div>
	</div>
</body>
</html>